{% trans_default_domain 'FOSUserBundle' %}

<h3 class="nomargin">Sign Up</h3>
<p class="mt5 mb20">Already have an Account? <a href="{{path('fos_user_security_login')}}"><strong>Sign In</strong></a></p>
                    
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
